{% extends '../base.html.twig' %}
{% block body %}

    <div class="modal" tabindex="-1" role="dialog" id="myModalEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: rgba(38,185,154,.88);height:45px">
                    <h5 class="modal-title"
                        style="color:white; font-size: large;font-family: Helvetica, Arial, sans-serif;"><b>Save</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"/>
                        <span aria-hidden="true">&times;</span></h5>
                    </button>
                </div>
                <div class="modal-body" style="height: 50px">
                    <p>Are you sure you want to save the changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-success" id="saveChanges">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModalDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #C82829;height:45px">
                    <h5 class="modal-title"
                        style="color:white; font-size: large;font-family: Helvetica, Arial, sans-serif;"><b>Delete</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"/>
                        <span aria-hidden="true">&times;</span></h5>
                    </button>
                </div>
                <div class="modal-body" style="height: 50px">
                    <p>Are you sure you want to delete the Course?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-danger" id="deleteItem"
                            onclick="location.href='/admin/course/delete/{{ course.courseId }}'">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="center_col" role="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2> Edit Course ({{ course.name }}) </h2>
                        <span class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" align="right">
                        <button type="button" id="deleteBtn" class="btn btn-danger" data-toggle="modal"
                                data-target="#myModalDelete" style="float: right">Delete</button>
                    </span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <br/>

                        <form class="form-horizontal form-label-left" method="post"
                              action={{ concat('/admin/course/update/', course.courseId) }}>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Department
                                </label>
                                {#{{ form_errors(form.department) }}#}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="department" name="department" class="form-control col-md-7 col-xs-12">
                                        <option value="{{ course.departmentName }}"
                                                selected> {{ course.departmentName }}</option>
                                        {% for department in departments %}
                                            <option value="{{ department }}">{{ department }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Course Number
                                </label>
                                {#{{ form_errors(form.number) }}#}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="number" name="number" type="text"
                                           class="form-control col-md-7 col-xs-12" value="{{ course.number }}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Course Name
                                </div>
                                {#{{ form_errors(form.name) }}#}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" name="name" type="text" class="form-control col-md-7 col-xs-12"
                                           value="{{ course.name }}" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12" style="font-weight: 200">
                                    Is this Course Supported
                                </div>
                                {#{{ form_errors(form.supported) }}#}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {% if course.supported %}
                                        <input id="supported" name="supported" type="checkbox" checked>
                                        {#TODO: Need to check why adding form-control is changing the size of the checkbox and alignment as it is needed to keep label adn checkbox at the same horizontal level#}
                                        {#{{ form_widget(form.supported, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}#}
                                    {% else %}
                                        <input id="supported" name="supported" type="checkbox">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-md-3 col-sm-3 col-xs-12" style="font-weight:200">
                                    Admin Notes
                                </div>
                                {#{{ form_errors(form.description) }}#}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="description" name="description" rows="7"
                                              class="form-control col-md-7 col-xs-12">{{ course.description }}</textarea>
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-secondary" type="button"
                                            onclick="location.href='/admin/course'">
                                        Cancel
                                    </button>
                                    <button id="form_submit" class="btn btn-success" type="submit" data-toggle="modal"
                                            data-target="#myModalEdit">
                                        Submit
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#form_submit').on('click', function (event) {
            event.preventDefault();
        });
        $('#saveChanges').on('click', function () {
            $('form').submit();
        });
        $('#deleteBtn').on('click', function (event) {
            event.preventDefault();
        });
    </script>
{% endblock %}
