<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title">{% block title %}<span>CSMC</span>{% endblock %}</a>
        </div>

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    {% block links %}
                    <li>
                        <a href="{{ path('/') }}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>

                    {% if user_role.contains("admin") or user_role.contains("developer") %}
                        <li><a href="{{ path('/admin/home') }}"><i class="glyphicon glyphicon-list-alt"></i> Admin Dashboard</a></li>
                    {% endif %}
                    {% if user_role.contains("instructor") %}
                        <li><a href="{{ path('/instructor/course/section') }}"><i class="fa fa-book"></i> Courses</a></li>
                        <li><a href="{{ path('/instructor/session/schedule') }}"><i class="fa fa-calendar"></i> Session Schedule</a></li>
                        <li><a href="{{ path('/instructor/session/request') }}"><i class="fa fa-tasks"></i> Request a Session</a></li>
                        <li><a href="{{ path('/instructor/session/history') }}"><i class="fa fa-check"></i> Grades and Attendance</a></li>
                    {% elseif user_role.contains("mentor") %}
                        <li><a href="{{ path('/mentor/session/schedule') }}"><i class="fa fa-calendar"></i> Calendar</a></li>
                        <li><a href="{{ path('/mentor/session/history') }}"><i class="fa fa-check"></i> Grades</a></li>
                        <li><a href="{{ path('/mentor/ticket/queue') }}"><i class="fa fa-ticket"></i> Tickets</a></li>
                        <li><a href="{{ path('/mentor/schedule/weekly') }}"><i class="fa fa-users"></i> Staff Schedule</a></li>
                        <li><a href="{{ path('/mentor/timesheet') }}"><i class="fa fa-clock-o"></i> Time Sheet Report</a></li>
                        <li><a href="{{ path('/mentor/absence/market') }}"><i class="fa fa-exclamation-circle"></i> Absences</a></li>
                        <li><a href="{{ path('/mentor/swipe/walk_in') }}"><i class="fa fa-credit-card"></i> Swipe Screen</a></li>
                        <li><a href="{{ path('/mentor/display') }}"><i class="fa fa-tv"></i> Display</a></li>
                    {% elseif user_role.contains("student")%}
                        <li><a href="{{ path('/student/course/section') }}"><i class="fa fa-book"></i> Courses</a></li>
                        <li><a href="{{ path('/student/ticket/create') }}"><i class="fa fa-ticket"></i> Tickets</a></li>
                        <li><a href="{{ path('/student/session/schedule') }}"><i class="fa fa-tasks"></i> Register</a></li>
                        <li><a href="{{ path('/student/session/history') }}"><i class="fa fa-check"></i> Grades and Attendance</a></li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            {% block footer %}
                {#<a data-toggle="tooltip" data-placement="top" title="Settings">#}
                {#<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>#}
                {#</a>#}
                {#<a data-toggle="tooltip" data-placement="top" title="FullScreen">#}
                {#<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>#}
                {#</a>#}
                {#<a data-toggle="tooltip" data-placement="top" title="Lock">#}
                {#<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>#}
                {#</a>#}
                {#<a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">#}
                {#<span class="glyphicon glyphicon-off" aria-hidden="true"></span>#}
                {#</a>#}
            {% endblock %}
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% block top_nav %}
                    {% if is_logged_in %}
                        <li>
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {% if is_impersonating %}
                                    <span class="fa fa-user-secret"></span>
                                {% endif %}
                                {{ preferred_name }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                {#{% if is_granted('ROLE_PREVIOUS_ADMIN') %}#}
                                {% if is_impersonating %}
                                    <li><a href="{{ path('/logout/impersonate') }}">Exit Impersonation</a>
                                    </li>
                                {% endif %}
                                {#                            {% if is_granted('developer') %}#}
                                {#                                <li><a href="{{ path('dev_home') }}">Developer Panel</a></li>#}
                                {#                                #}{#<li><a href="{{ path('home', {'_switch_user':'username'}) }}">Impersonate#}
                                {#                                #}{#User: <input type="text"></a></li> #}{##}{# TODO #}
                                {#                            {% endif %}#}

                                {#                            {% if is_granted('mentor') %}#}
                                {% if user_role.contains("mentor") %}
                                    <li><a href="{{ path('/profile/' ~ user_services) }}">Profile</a>
                                    </li>
                                {% endif %}
                                <li><a href="javascript:">Help</a></li>
                                <li>
                                    <a href="{{ path('/logout') }}"><i
                                                class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="">
                            <a href="{{ path('/login') }}">Log In</a>
                        </li>
                    {% endif %}
                {% endblock %}
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
