{% extends '../base.html.twig' %}
{% block body %}
    <h4>New Requests</h4>
    <table id="new-requests" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Section(s)</th>
            <th>Instructor(s)</th>
            <th>Type</th>
            <th>Dates</th>
            <th>Materials</th>
            <th>Time Requested</th>
            <th>Approve</th>
            <th>Deny</th>
        </tr>
        </thead>
        <tbody>
            {% for r in sessions.newRequests %}
                <tr>
                    <td>{{ r.topic }}</td>
                    <td>{{ r.sections }}</td>
                    <td>{{ r.instructors }}</td>
                    <td>{{ r.type }}</td>
                    <td>{{ r.dates }}</td>
                    {% set files = r.materials|split(',') %}
                    <td>
                        {% for file in files %}
                            {% set parts = file|split('##') %}
                            {% set filename = parts[0]%}
                            {% set fileId = parts[1] %}
                            <a href="/admin/session/request/view/{{r.id}}/download/{{fileId}}">{{ filename }}</a><br/>
                        {% endfor %}
                    </td>
                    <td>{{ r.timeRequested }}</td>
                    <td>
                        <a href="{{ path(concat('/admin/session/create/', r.id,'/', r.sessionType)) }}"
                           class="btn btn-default">
                            Approve
                        </a>
                    </td>

                    <td>
{#                        <a href="{{ path(concat('/admin/session/edit/', r.id,'/', r.sessionType)) }}"#}
{#                           class="btn btn-default">#}
{#                            Edit#}
{#                        </a>#}
                        <a href="{{ path(concat('/admin/session/deny/', r.id,'/', r.sessionType)) }}"
                           class="btn btn-default">
                            Deny
                        </a>
                    </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
    <hr>
    <h4>Pending</h4>
    <table id="pending" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Sections</th>
            <th>Instructor(s)</th>
            <th>Type</th>
            <th>Dates</th>
            <th>Materials</th>
            <th>Repeats</th>
            <th>Grades</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
            {% for r in sessions.pendingRequests %}
                <tr>
                    <td>{{ r.topic }}</td>
                    <td>{{ r.sections }}</td>
                    <td>{{ r.instructors }}</td>
                    <td>{{ r.type }}</td>
                    <td>{{ r.dates }}</td>
                    {% set files = r.materials|split(',') %}
                    <td>
                        {% for file in files %}
                            {% set parts = file|split('##') %}
                            {% set filename = parts[0]%}
                            {% set fileId = parts[1] %}
                            <a href="/admin/session/request/view/{{r.id}}/download/{{fileId}}">{{ filename }}</a><br/>
                        {% endfor %}
                    </td>
                    <td>{{ r.repeats }}</td>
                    <td>
                        <a href="{{ path(concat('/admin/session/grades/', r.id,'/', r.sessionType)) }}"
                           class="btn btn-default">
                            Grade
                        </a>
                    </td>

                    <td>
                        <a href="{{ path(concat('/admin/session/edit/', r.id,'/', r.sessionType)) }}"
                           class="btn btn-default">
                            Edit
                        </a>
                    </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
    <hr>
    <h4>Completed</h4>
    <table id="completed" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Sections</th>
            <th>Instructor(s)</th>
            <th>Type</th>
            <th>Dates</th>
            <th>Materials</th>
            <th>Repeats</th>
            <th>Grades</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
            {% for r in sessions.completedRequests %}
                <tr>
                    <td>{{ r.topic }}</td>
                    <td>{{ r.sections }}</td>
                    <td>{{ r.instructors }}</td>
                    <td>{{ r.type }}</td>
                    <td>{{ r.dates }}</td>
                    {% set files = r.materials|split(',') %}
                    <td>
                        {% for file in files %}
                            {% set parts = file|split('##') %}
                            {% set filename = parts[0]%}
                            {% set fileId = parts[1] %}
                            <a href="/admin/session/request/view/{{r.id}}/download/{{fileId}}">{{ filename }}</a><br/>
                        {% endfor %}
                    </td>
                    <td>{{ r.repeats }}</td>
                    <td>
                        <a href="{{ path(concat('/admin/session/grades/',  r.id,'/', r.sessionType)) }}"
                           class="btn btn-default">
                            Grade
                        </a>
                    </td>

                    <td>
                        <a href="{{ path(concat('/admin/session/edit/', r.id,'/', r.sessionType)) }}"
                           class="btn btn-default">
                            Edit
                        </a>
                    </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
    <hr>
    <h4>Denied Requests</h4>
    <table id="denied-requests" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Sections</th>
            <th>Instructor(s)</th>
            <th>Type</th>
            <th>Dates</th>
            <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        {% for r in sessions.deniedRequests %}
            <tr>
                <td>{{ r.topic }}</td>
                <td>{{ r.sections }}</td>
                <td>{{ r.instructors }}</td>
                <td>{{ r.type }}</td>
                <td>{{ r.dates }}</td>
                <td>{{ r.reason }}</td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    <div class="modal"
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script>
        $(function () {
            $.fn.dataTable.moment('MM/DD/YYYY');

            var options = {
                paging: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: true,
            };

            $('#new-requests').DataTable(options);

            var options2 = {
                paging: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: true,
            };
            $('#pending').DataTable(options2);

            var options3 = {
                paging: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: true,
            };
            $('#completed').DataTable(options3);

            var options4 = {
                paging: true,
                searching: true,
                lengthMenu: [10, 25, 50, 75, 100],
                ordering: true,
            };
            $('#denied-requests').DataTable(options4);

            {#var new_options = Object.assign({#}
            {#    ajax: {#}
            {#        url: '{{ path('admin_session_requests_feed', {status: 'new'}) }}',#}
            {#        dataSrc: ''#}
            {#    },#}
            {#    columns: [#}
            {#        {data: 'topic'},#}
            {#        {#}
            {#            data: 'sections',#}
            {#            render: render_sections#}
            {#        },#}
            {#        {#}
            {#            data: 'user',#}
            {#            render: render_user#}
            {#        },#}
            {#        {data: 'type.name'},#}
            {#        {#}
            {#            render: render_date_range#}
            {#        },#}
            {#        {render: render_materials},#}
            {#        {#}
            {#            render: render_created#}
            {#        },#}
            {#        {#}
            {#            render: render_approve#}
            {#        },#}
            {#        {#}
            {#            render: render_edit#}
            {#        }#}
            {#    ],#}
            {#    "order": [[ 6, "asc" ]] //TODO see if there is a better way to change the default ordering for a table#}
            {#}, options);#}

            {#$('#new-requests').DataTable(new_options);#}

        });
    </script>
{% endblock %}
